html, body {
	width: 100%;
	height: 100%;
  font-family: 'Source San Pro', sans-serif;
  margin: 0;
  padding: 0;
}

body {
	background: linear-gradient(270deg, #324B5E, #32654F, #3b3b67);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}

    @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

.floated_img
{
    float: left;
    margin: 1px;
    text-align: center;
}
