{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<h2 style="text-align:center;"><strong>projectDOAMA About</strong></h2>
<p  style="text-align:center;">projectDOAMA is a movie suggestion service. It was created to help people to decide a movie to watch when they want to. <br> Our service will not only recommend movies but also functions as a movie search according to genres and title.</p>

<h4 style="text-align:center;">To contact us:</h4>
<p style="text-align:center;">We always welcome new ideas, suggestions, and comment. Feel free to <a href="mailto:nguyli03@luther.edu">contact us</a> and we would response to you as possible.</p>

<p style="text-align:center;">To add a movie to our database, search for the movie on the homepage. If we don't have the movie yet, you will have the opportunity to add it to our database for others to enjoy!</p>

<h4 style="text-align:center;">Thank you for using our service and we hope you enjoy the movie!</h4>
{% endblock %}
