<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <!-- <style></style>: use to be css style, now css moved to main.css -->

  {% endblock %}
  </head>
  <body onload="loadFunction()">
    <h1 class="loadText"><a href="http://www.projectdoama.com/">Let's DOAMA!</a></h1>
    <h5 class="loadText" style="margin-top:0px;">DECIDE ON A MOVIE ALREADY</h5>
    {% block body %}
    {% endblock %}
    <!-- <footer>
      <p style=" position:fixed; bottom:0; text-align: center;" id="mainfooter">&copy; projectDOAMA. Linh Nguyen & Alex Davis</p>
    </footer> -->
  </body>
</html>
