{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<h2 style="text-align:center;"><strong>projectDOAMA</strong></h2>
{% if found==0 %}
<p style="text-align:center;">Thank you for adding the movie, however, we could not find the movie information so we will temporarily not add it to our database. Sorry for the inconveniences</p>
{% endif %}
<p style="text-align:center;">Thank you for adding the movie.</p>
<form class="form-inline loadText1" style = "margin-top:0;" action="/">
  <input type="submit" name="" class="btn btn-primary" id="submitMovieAdd" value = "Back to Homepage">
</form>

{% endblock %}
