{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<!-- <style></style> -->
  <div class="tablediv loadText" onload="loadFunction()" style="margin:0;">
      <!-- <div id ="loader"></div>
      <div class="animate-bottom" id="myDiv" style="display:none;">
        <h3 style="text-align:center;">Now Showing Results for {{ title }}</h3>
        <div>
            {% for (id, title, poster, rated) in movieList %}
              <div class="floated_img">
                <a href="http://www.projectdoama.com/movieInfo/{{id}}"><img width="150" height="200" class="movieName" src="{{ poster }}" alt="Poster for {{ title }}"></a>
                <h5>{{ title }} [{{ rated }}]</h5>
              </div>
            {% endfor %}
          </div> -->

          <!-- <table style="text-align: center;">
              <tr style="text-align: center;">
              {% for (id, title, poster, rated) in movieList %}
              <td style="text-align: center;">
              <a href="http://www.projectdoama.com/movieInfo/{{id}}"><img width="150" height="200" class="movieName" src="{{ poster }}" alt="Poster for {{ title }}"></a>
              <br>
              <h5>{{ title }} [{{ rated }}]</h5>
              </td>
              {% endfor %}
              </tr>
          </table> -->
          {% for (id, title, poster, rated, rating) in movieList %}
          <div class="gallery">
            <a href="http://www.projectdoama.com/movieInfo/{{id}}">
              <img width="150" height="200" class="movieName" src="{{ poster }}" alt="Poster for {{ title }}"></a>
            </a>
            <div class="desc">{{ title }} [{{ rated }}]</div>
          </div>
          {% endfor %}

      </div>

  </div>



<script>
var myVar;

function loadFunction() {
    myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

{% endblock %}
