{% extends "base.html" %}
{% block body %}

<form class="form-inline loadText" action="/search" method="get">
  <label for="activityselect" style="font-size: 20pt;">I need a movie for my </label>
   <fieldset>
     <select style="font-family: 'Source Sans Pro', sans-serif; font-size: 15pt;" class="form-control" name="selected_activity">
       {% for form in form.options %}
       {{form}}
       {% endfor %}
     </select>
     <br><br>
     <div class="form-group">
       <input style="font-family: 'Source Sans Pro', sans-serif; font-size: 20pt;" type="submit" name="" class="btn btn-primary" id="submitActivityQuery" value = "DOAMA!">
     </div>
   </fieldset>
</form>



{% endblock %}
