{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<br><br>
<form class="form-inline loadText" action="/activitysearch" method="post">
  <label for="activityselect" style="font-size: 20pt;">I need a movie for my </label>
  <select style="font-family: 'Source Sans Pro', sans-serif; font-size: 20pt;" class="form-control" name="">
    <option value="">Family Night</option>

  </select>
  <br>
  <div class="form-control">
    <input type="submit" name="" class="btn btn-primary" id="submitActivityQuery" value = "DOAMA!">
  </div>
</form>
<br><br><br>
<form class="form-inline loadText1" action="/search" method="get">
    <h5>Or, please show me movie recommendations that are...</h5>
    <div class="form-group">
        <label for="timeSelect">Good For</label>
        <select class="form-control" name="time" id="timeSelect">
        </select>
    </div>
    <div class="form-group">
        <label for="genreSelect">Who Like</label>
        <select class="form-control" name="genre" id="genreSelect">
          {% for (id, genre) in genreList %}
          <option value="{{id}}">{{genre}}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="actorInput">Starring</label>
        <input class="form-control" type="text" name="actors" id="actorInput" placeholder="Names separated by commas">
        <input type="submit" name="" class="btn btn-primary" id="submitQuery" value = "Find a Movie!">
    </div>
</form>
<br>
<h6 class="form-inline loadText2">Or, search for a Movie:</h6>
<form class="form-inline loadText1" style = "margin-top:0;"action="/searchMovie" method="get">
  <input id="idmoviesearch" class="form-control" type="text" name="movietitle" value="" placeholder="Movie Title">
  <input type="submit" name="" class="btn btn-primary" id="submitMovieSearch" value = "Search for Movie">
</form>

{% endblock %}
