{% extends "base.html" %}
{% block body %}

<form class="form-inline loadText" action="/search" method="get">
<br><br><br><br><br>
  <label for="activityselect" style="font-size: 30pt;">I need a movie for my</label>
   <fieldset>
     <select style="font-family: 'Source Sans Pro', sans-serif; font-size: 15pt;" class="form-control" name="selected_activity">
       {% for form in form.options %}
       {{form}}
       {% endfor %}
     </select>
     <br><br>
     <div class="form-group">
       <input style="font-family: 'Source Sans Pro', sans-serif; font-size: 20pt;" type="submit" name="" class="btn btn-primary" id="submitActivityQuery" value = "DOAMA!">
     </div>
   </fieldset>
</form>
<br><br><br>
<form class="form-inline loadText1" action="/goodFor" method="post">
  h5>Or, show me movie recommendations that are...</h5>
  <div class="form-group">
      <label for="timeSelect">Good For</label>
      <select class="form-control" name="group" id="timeSelect">
        <option value="Family">Family</option>
        <option value="Couple">Couple</option>
        <option value="Children">Children</option>
        <option value="Adults">Adults</option>
      </select>
  </div>
  <div class="form-group">
      <label for="genreSelect">Who Like</label>
      <select class="form-control" name="genre" id="genreSelect">
        {% for (id, genre) in genreList %}
        <option value="{{id}}">{{genre}}</option>
        {% endfor %}
        <input type="submit" name="" class="btn btn-primary" id="submitQuery" value = "Find a Movie!">
      </select>
  </div>
</form>


<br><br><br>
<h6 class="form-inline loadText2">Or, search for a Movie:</h6>
<form class="form-inline loadText1" style = "margin-top:0;"action="/searchMovie" method="get">
  <input id="idmoviesearch" class="form-control" type="text" name="movietitle" value="" placeholder="Movie Title">
  <input type="submit" name="" class="btn btn-primary" id="submitMovieSearch" value = "Search for Movie">
</form>


{% endblock %}
